
$primary: #26648E;
$secondary: #53D2DC;

$nav-link-color:#4F8FC0;
$nav-pills-link-active-color:#26648E;
@import '~bootstrap/scss/bootstrap';

.pointer {
    cursor: pointer;
    text-decoration: none;
}
