
$primary: #0e387a;
$secondary: #53D2DC;

$nav-link-color:#0e387a;
$nav-pills-link-active-color:#0e387a;
@import '~bootstrap/scss/bootstrap';

.pointer {
    cursor: pointer;
    text-decoration: none;
}
